*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body{
    background: #994533;
}
.carousel-item{
    
    img{
        object-fit: cover;
        height: 740px;
        @media screen and (max-width:767px){
            height: 300px;
            }
    }
}

.product{
    height: 360px;
    img{
        height: 100%;
        object-fit: cover;
    }
}